.wrapper{  
    margin: auto;  
    padding-top: 10px;  
    padding-bottom: 10px;  
    width: 600px;  
    background : #4ac1ef; 
    border: 1px solid #ffffff;
}  
h1{  
    margin-left: 38px;
    color: #fff;
    text-shadow: -1px 0px 2px rgba(30, 30, 30, 0.75);
}
form{
    margin-left: 38px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #000;
}
.word{
  background : #4ac1ef;  
}