body{
   background-color:#f0f0f0;
   background-image: url(images/pixel_weave.png);
}
table.website{
    position: relative;
    margin:0 auto;
    height: 622px;
    width: 800px;
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.website td a{
    color: #fff;
    font-family: "lucida grande","lucida sans unicode",arial,sans-serif;
    font-size:16px;
    text-decoration:none;}
.website td a:hover{
color:#DE4957;
} 
    
h1{
    text-align: center;
    color: #fff;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
h2{
color: #000;
padding:5px;
text-shadow: 1px 2px 0px rgba(0,0,0,0.15);
font-size:22px;
font-family: "lucida grande","lucida sans unicode",arial,sans-serif;
}
p{
font-family: "lucida grande","lucida sans unicode",arial,sans-serif;
font-size:14px;
text-align:justify;
padding:5px;
}

img{
padding: 4px 5px 0px 0px;
}

table{
    position: relative;
    border-collapse: collapse;
    margin:0 auto;    
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
 
}

/*tbody{
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
  background-color:#eaeaea;
}*/