@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    color: #6E6E6E;
    background-image: url(../images/pixel_weave.png);
}
/*General*/
h1, h2, h3, h4, h5, h6 {
    font-weight: normal; 
}
h1{
    margin-top: 30px;
}

h2 {
    position: relative;
    font-size: 40px;
    margin:40px 0;
    font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
    text-shadow: 2px 3px 3px #292929;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px white;

}
h2 a {
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    text-shadow: 0 2px 0 #e9e9e9;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

h2 a:hover {
    color: #185a50;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.3)), to(rgba(0,0,0,1)));
    text-decoration: none;

}

h2:after {
    color: #dbdbdb;
    content : attr(data-title);
}

a{
    color:#f11d25;
}
a:hover, a:focus{
    color:#f11d25;
    text-decoration: underline;
}
.navbar-toggle {
    background-color: rgba(156, 191, 35, 1);
    border-color: #9CBF23 !important;
}
.navbar-nav>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 100 !important;
}
.navbar-inverse .navbar-brand img {
    margin-top: 25.4px;
    margin-left: -5px;
}

.fluid_container {
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 0;
}
.navbar-inverse {
    background-color:transparent;
}

.navbar-inverse {
    border: none;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
    color: #515151;
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background: none;
    color: #CF2F16 !important;
}
.navbar-inverse .navbar-nav > .active > a {
    color: #93BA0F;
    border-radius: 5px;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
    text-align: left;
}
#wrapper{
    position:fixed;
    z-index:-1; 
    top:0; 
    left:0;
    background-color:transparent;
    background-image: url(../images/images1.jpg);
}
#wrapper img.bgfade{
    position:absolute;
    top:0;
    display:none;
    width:100%;
    height:100%;
    z-index:-1;
}
/**
  MEDIA QUERIES
*/
@media (max-width: 767px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

@media (max-width: 767px) {
    .navbar-collapse ul {
        text-align: right;
        margin-right: 0px;
    }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
        font-size: 13px;
    }
    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
        text-align: right;
    }
}

@media (max-width: 420px) {
    .navbar-inverse {
        background: rgba(255, 255, 255, 0.8);
    }
}


.fluid_container {
    padding-bottom: 60px;
    margin-top: 10px;
    box-shadow: rgb(102, 102, 102) 3px 3px 3px;
    background-image: url(../images/bg_1.png);
}
header {
    text-align: center;
    padding: 5px 10px 10px;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.298039) 2px 4px 3px;
    background-color: rgb(207, 47, 22);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    position: relative;
    top: -20px;
}
.profile {
    margin-left: 50px;
}
.profile img {
    display: block;
    overflow: hidden;
    border: 8px dotted rgba(255, 255, 255, 0.227451);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    box-shadow: rgba(0, 0, 0, 0.180392) 0px 2px 4px;
	margin-top:-25px;
}
.enroll {
    margin-top: 80px;
    color: rgb(255, 255, 255);
    margin-left: 30px;
}
footer {
    margin-top: -30px;
    height: 30px;
    text-align: center;
    background-color: rgb(207, 47, 22);
    border-top: 1px solid rgb(255, 255, 255);
}
.copyright {
    color: rgb(255, 255, 255);
}
.copyright:hover{
    color: #1D2935;
    text-decoration: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    margin-top: 15px;
}
.navbar-toggle {
    background-color: rgb(207, 47, 22);
    margin-top: 20px;
    border-color: rgb(207, 47, 22);
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #000;
    font-weight:bold;
    background-color:transparent;
    /*background-image: url(../images/pixel_weave.png);*/
}
.clip-text {
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin: .25em;
    padding-top:.5em;
    /*padding: .5em .25em;*/
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}

/* Background */
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #CF2F16;
}
.clip-text_one {
    background-image: url(../images/pixel_weave.png);
}
