.wrapper{  
    margin: auto;  
    padding-top: 10px;  
    padding-bottom: 10px;  
    width: 600px;  
    background : #4ac1ef; 
    border: 1px solid #ffffff;
}  
.wrapper h2 {  
    margin-left: 38px;
    color: #fff;
    text-shadow: -1px 0px 2px rgba(30, 30, 30, 0.75);
}
form{
    margin-left: 38px;
    padding-bottom: 15px;
}
input {  
    font-size: 16px;
    padding: 5px;
}  
input:focus, textarea:focus{  
    background-color: #fff;  
} 