*{padding: 0;
  margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    text-align: justify;
    background-color: #ededed;
    background: url(../images/white_plaster.png);
}
a{
    text-decoration: none;
    color: #2087a6;
    font-size: 14px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
}
img{
    border: none;  
}
.button{
    position: relative;
    left: 0px;
}
#header {
    margin: 0 auto;
    width:100%;
    background: #2780a6;
    height:100px;
    border-top: 2px solid #FAFAFA;

}
#bottom_header{
    background: #171b27;
    /* margin: 0 auto; */
    width:100%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom: 1px solid #fff;
    display: inline-block;
    height: 50px;
}
.first_header{
    width: 1000px;
    margin: 0 auto;
    background: #2780a6;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.first_header img{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0px 10px 16px -6px #000;
    float: left;
}
.second_header{
    background: #171b27;
    /* height:50px; */
    width: 1000px;
    margin: 0 auto;
/*    display: inline-grid;*/
}
.nav,.nav ul,.nav li,.nav a.nav_1 {
    margin: 0;
    padding: 0;border: none;
    outline: none;
}
/* first header navigation starts*/
.nav_1{
    float: right;
    margin-top: 28px;
}
.nav_1 li{
    position: relative;
    list-style: none;
    float:right;
    display: block;
}
.nav_1 li a{
    display: block;
    padding: 10px 0px 10px 20px;
    line-height: 28px;
    font-family: Arial, "Times New Roman", Georgia, Times, serif;
    font-size: 16px;
    color: #cfe7f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    text-decoration: none;
}
.nav_1 li a:hover{
    color: #ffffff;  
}
/* first header navigation ends*/

/*second_header navigation starts */
.nav {
    height:50px;
    margin:auto;
    text-align:center;
    float: left;
}
.nav li {
    position: relative;list-style: none;
    float: left;
    display: block;
    height: 50px; 
}
.nav li:hover, .active{
    background-color: #2780a6; 
    height:50px;
}
.nav li a {
    display: block;
    padding: 0 18px;
    margin: 12px 0 0 0;
    line-height: 28px;
    text-decoration: none;  
    font-family: Arial, "Times New Roman", Georgia, Times, serif ;
    font-size: 16px;
    color: #cfe7f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
/*    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;*/
}
.nav ul{
    position: absolute;
    top: 50px; 
    left: 0;
    opacity: 0;
    background: #2780a6;
    z-index: 2;
    width: 180px;
}
/* Second_header nav ends*/
#wrapper { 
    margin: 0 auto;    
    width: 100%;
}
#faux {
    margin-bottom: 10px;
    overflow: auto; 
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.slideshow{
    position: relative;
    z-index: 1;
    width: 1000px;
    margin: 0 auto 0;
    padding: 2px;
    margin-top:20px;
}
#main_content{
    padding-top: 30px;
    padding-bottom: 20px;
    width: 1000px;
}
.box_content{
    padding-bottom: 20px;  
    overflow: hidden;
}
.content {
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 10px;
    /* display: table-cell; */
}
.content p,h1{
    color: #333333;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
}
.content h1{
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.product{
    padding-bottom: 5px;
}
.product li{
    display: inline-block;
    padding:5px;
    border: 1px dashed #2780a6;
}
.product img{
    padding: 2.4px;
}
.price{
    display: inline-block;
    width: 230px;
}
.price h1{
    font-size:20px;
    color: #2780A6;
}
.price img{
    float: right;
    margin-top: -33px;
}
.review{
    position: relative;
    top:-2px;
}
.box_header {
    line-height: 22px;
    color: #2780A6;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    padding: 5px 0px;
    margin-bottom: 20px;
    border-bottom: 4px solid #2780A6;
    font-weight: bold;
}
.box_header span{
    color: #2780A6;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    text-shadow: none;
    font-size: 20px;
}
/* Footer Begins*/
#footer{
    background-color: #2780a6;
    clear: both;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.container{
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}
.column{
    width: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: inline-block;
    /*    display: -webkit-box;  display: -moz-box;  display: -ms-flexbox;  display: -webkit-flex;  
        display: flex;*/
}
.column h2, .row h2{
    line-height: 28px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    font-size: 20px;
    color: #cfe7f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    text-decoration: none;
    padding-bottom: 8px;
}
.column li{
    list-style: none;
    padding: 2px 0px 2px 0px;
}
.footer_column{
    width: 180px;
    padding-right: 5px;
    padding-left: 5px;
    /*display: inline-block;*/
    display: inline-table;
}
.link li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
}
.link img{
    padding-right: 5px;
    padding-bottom: 2px;
}
.column_5 li{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    margin-left: 3px;
}
.news_letter{
    display: inline-block;
    padding-right: 8px;
    padding-left: 10px;
    width:462px;
    float: left;
}
.link_5 img{
    margin-left: -10px;
}
.row{
    display: inline-block;
    width: 1000px;
}
.payment{
    float:right;
    position: relative;
    top: 18px;
    left: -70px;
    padding-right: 8px;  padding-left: 10px;
}
.card_icon{
    padding-top: 8px;
}
#row h2{
    line-height: 28px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #cfe7f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    text-decoration: none;
}
.social span{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    position: absolute;
    padding: 2px 0px 0px 5px;
}
.social span:hover{
    color: #ee513f;
}
.social li a{
    display: inline-block; 
}
.social img{
    padding-right: 2px;
    margin-top: 0px;
}
#copyright{
    width: 100%;
    background-color: #171b27;
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}
#copyright span{
    color: #cfe7f3;
    position: relative;
    font-size: 12px;
}
#copyright span a{
    color: #cfe7f3;
    position: relative;
    font-size: 12px;
}
#copyright span a:hover{
    color: #ee513f;
    position: relative;
    font-size: 12px;
}
/*Footer Ends*/

.span1 img{
    border: none;
    margin-top: -20px;
}
#info_panel{
    margin-left: 15px;
    width: 1000px;
}

/* Search Box Starts*/
#search_box{
    float: right;
    position: relative;
    top: 9px;
}
#search_box input {
    background-color: #171b27;
    border: 1px solid #676566;
    border-radius: 5px 0 0 5px;
    color: #888;
    display: block;
    float: left;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 30px;
    margin: 0;
    padding: 0 10px;
    width: 200px;
}
#search_box button {
    background: #171b27;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #676566;  
    border-radius: 0 5px 5px 0;
    border-left-width: 0;
}
.cart_search{   
    float: left;
    top: 10px;
    left: 300px;
    position: relative;
}
/*Search Box Ends*/
form label { 
    display: block; 
    margin-bottom: 5px; 
    font-size: 13px; 
    padding-top: 5px;
}
form label span{
    display: block;
}
form span{
    color: #fff;
    padding-bottom: 5px;
}
form input, textArea{
    background: none repeat scroll 0 0 #FFFFFF; 
    border: 1px solid #C9C9C9; 
    color: #545658; 
    padding: 8px;
    margin-right: 15px;
    font-size: 14px; 
    border-radius: 2px 2px 2px 2px;
    width: 302px;
}
.radio{
    border:none;
    background: none;
}
.submit{
    height: 35px;
    background-color: #171b27;
    border: 1px solid #171b27;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 8px;
    padding: 0px 10px 0px 10px;
}
.submit:hover{
    background-color: #ee513f;
    border: 1px solid #ee513f;
}
/*.submit:active{
    background-color: #ee513f;
    border: 1px solid #ee513f;
}*/
.content_reg{
    display: flex;
    background: none;
    margin-left: -2px;
}
.content_reg h1{
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2780A6;
    font-weight: normal;
}
.content_reg p{
    color: #333333;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
}
/* Login page Button Starts*/
.btn-sign {
    width:150px;
    margin-bottom:20px;
    height: 50px;
    border-radius:5px;
    text-align:center;
    font-size:36px;
    color:#fff;
    background-color: #171B27;
    text-transform:uppercase;
    padding-bottom: 5px;
}

.btn-sign:hover{
    background-color: #ee513f;
    border: 1px solid #ee513f; 
}

.btn-sign a { color:#fff; text-shadow:0 1px 2px #161616; }

#mask {
    display: none;
    background: #000; 
    position: fixed; left: 0; top: 0; 
    z-index: 10;
    width: 100%; height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.login-popup{
    width: 322px;
    height: 200px;
    display:none;
    background: #333;
    padding: 10px; 	
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; 
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
    float: right; 
    margin: -28px -28px 0 0;
}
/* Login Page Button Ends*/

/* Left Column Starts for men, women, and sale*/
.left_column{
    float: left;
    padding-top: 20px;
    width: 220px;
}
.left_form{
    position: relative;
    top:5px;
}

.left_form li {
    display: flex;
}
.left_form li input{
    margin-top: 5px;
}
.left_form li span{
    font-size: 13px;
    color: #070707;
    line-height: 10px;
    text-align: center;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    margin-top: 7px;
    padding-left: 5px;
}
.left_form li span img{
    margin-top: -4px;
}
/* Left Column Endss for men, women, and sale*/

.right_column{
    float: right;
    text-align: justify;
    width: 740px;
    padding-top: 20px;
}
.content h2{
    border-bottom: 1px dashed #2780a6;
    padding-bottom: 10px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2780A6;
}
.contact_form{
    left: 100px;
    position: relative;
}
.contact_form p{
    padding-top: 10px;
}
.contact{
    padding-top: 20px;
}
.contact textArea{
    height: 150px;
    width: 400px;
}
.info p, .info{
    padding-top: 10px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    font-size: 14px;

}
span a{
    color:#2780A6;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    font-size:15px;
    text-align: justify;
}
.policy{
    text-align: justify;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    padding-top: 10px;
}
/* Details Page Starts*/
.left-column{
    float: left;
}
.middle-column{
    width: 460px;
    float: left;
    padding-left: 30px;
}
.middle-column p{
    padding-top: 5px;
}
.right-column{
    float: right;
    width: 200px;
}
.size{
    padding-top: 6px;
    padding-bottom: 6px;
}
.color{
    padding-top: 6px;
    padding-bottom: 10px;
}
/* Details Page Ends*/

.form-inline{
    padding-top: 15px;
    padding-bottom: 10px;
}
.form-inline input{
    width: 25px;
}
.form-inline span{
    font-size: 15px;
    padding-right: 20px;
    color: #000;
}

/* View Cart Starts*/
.view_cart table{
    border-collapse: collapse;
    border-spacing: 0;
}
.view_cart tr{
    border: 1px solid #C4D7ED;
    padding: 4px 5px;
}
.view_cart th{
    border: 1px solid#A5D5E5;
    font-weight: bold;
    padding: 6px 10px 7px;
    background: #cfe7f3;
    text-align: center;
    width: 32px; 
}
.view_cart td{
    padding: 9px 10px; 
    border: 1px solid #A5D5E5;
    margin: 0 auto; 
}
.product_remove{
    padding: 9px 20px; 
    margin: 0 auto;
}
.product_thumbnail{
    padding: 10px 12px 8px 10px;
    text-align: center;
    width:150px;
}
.product_name{
    padding: 20px 20px; 
    width: 300px; 
}
.product_price{
    text-align: center;
    width:150px;
}
.product_subtotal{
    text-align: center;
    width:150px;
}
.product_quantity{
    text-align: center;
    width:150px;  
}
.coupon{
    padding-bottom: 5px;
}
.coupon label {
    display: block;
    margin: 0 0 5px 0;
}
.coupon input{
    background: none repeat scroll 0 0 #FFFFFF; 
    border: 1px solid #C9C9C9; 
    color: #545658; 
    padding: 9px;
    margin-right: 15px;
    font-size: 14px; 
    border-radius: 2px 2px 2px 2px;
    width: 200px;
}
.cart_total{
    width: 100%;
    border-collapse: collapse;
    top: 20px;
    position: relative;
}
.cart_total tr{
    /*    border: 1px solid #A5D5E5;*/
}
.cart_total td{
    text-align: right; 
    /*    border: 1px solid #A5D5E5;*/
    /* font-weight: bold; */
    padding: 6px 10px;
}
.total_1{
    width: 80px;
}
#buttons{
    float: right;
}
.view_cart{
    padding-bottom: 20px;
}
/* View Cart Ends*/

/* Page links starts*/
.page_links ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.page_links ul li a {
    float: left;
    width: 10px;
    text-decoration: none;
    color: white;
    background-color: #171B27;
    padding: 10px;
    border-right: 1px solid white;
}
.page_links ul li a:hover {
    background-color: #ee513f;
}
.page_links ul li {
    display: inline;
}
/* Page links ends*/
.link li a:hover{
    color: #ee513f;
}
.faq_list span{
    display: block; 
    position: absolute; 
    top: 4px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
}
.marker-q{
    margin-top: -4px;
}
dd, dt{
    position: relative;
}
dd{
    padding-bottom: 20px;  
}
dd p{
    /* margin-top: 0px; */
    /* position: relative; */
    margin-left: 25px;
    font-size: 14px;
    line-height: 30px;
    color: #545658;
    /* padding-right: 15px; */
}
dt P{
    top: -3px;
    position: relative;
    font-size: 16px;
    line-height: 30px;
    padding-left: 6px;
    color: #2780A6;
    left: 20px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
    font-weight: 600;
}
#map_canvas {
    width: 1000px;
    height: 400px;
    border: 1px solid #F0EDE5;
}
.sale_item{
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    background-color: #2780A6;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

/*Top and Back Page Link Starts*/
.top{
    float: right;
    position: fixed;
    right: 0;
    bottom: 380px;
}
.back{
    float: left;
    position: fixed;
    bottom: 380px;
}

/*Top and Back Page Link Ends*/

/* Begin Background Audio*/
#backgroundaudio {
    display: block;
    position: fixed;
    bottom: -43px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
#backgroundaudio:hover {
    bottom: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
#backgroundaudio audio {
    background: #e7e7e7;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    height: 43px;
    z-index: 9998;
}
#backgroundaudio img {
    display: block;
    background: #e7e7e7;
    padding: 5px;
    width: 50px;
    float: none;
    margin-bottom: -1px;
    z-index: 9999;
    color:#2780A6
}
/* End Background Audio*/
.site_map a{
    color:#171b27;
}
.site_map a:hover{
    color:#ee513f;
}
#column1{
    float:left;
    width:400px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
}
#column2{
    float:right;
    width: 550px;
    font-family: "lucida grande","lucida sans unicode",arial,"Times New Roman", Georgia, sans-serif;
}