#nursery{
display: block;
margin-left: auto;
margin-right: auto;
}
body{
text-align: center;
margin-top:25px;
color: #181818;
font-family: prociono, arial;
font-size: 20px;
background-image: url(pixel_weave.png);
}