body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #888;
    font-size: 16px;
    line-height: 1.6em;
    background-color: #ffffff;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    color: #444;
}

a, a:hover {
    color: #0e3950;
}

.icon:hover .fa {
    color: #0e3950;
}

p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
}

p.lead {
    font-weight: 600;
}

a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.fa {
    padding-right: 8px;
    color: #A77A52;
    /*color: #0e3950;*/
}

a:hover,
a:focus {
    text-decoration: none;
}

img.img-responsive {
    margin-bottom: 20px;
}

/* ===========================
--- Preloader
============================ */

#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

#load {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #A77A52;;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#load:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#load:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}

/* ===========================
--- /Preloader
============================ */

/* ===========================
--- General sections
============================ */

.home-section {
    padding-top: 120px;
    padding-bottom: 110px;
    display: block;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.section-heading {
    margin-bottom: 50px;
}

.section-heading h2 {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1em;
    color:#A77A52;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.section-heading i {
    margin-bottom: 20px;
}

.bg-gray {
    background: #f8f8f8;
}

/* ===========================
--- Intro
============================ */

.intro {
    width: 100%;
    position: relative;
    background: url(../img/banner.png) no-repeat bottom center;
    background-size: cover;
    height: 600px;
}

#intro.intro {
    padding: 200px 0 150px 0;
}

.intro .page-scroll {
    text-align: center;
    position: relative;
    top: 280px;
}

.logo {
    max-width: 460px;
    height: auto;
    display: block;
    margin: 20px auto 10px;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.intro .page-scroll a {
    color: #fff;
}

.intro .page-scroll a:hover {
    color: #00a388;
}

.intro .page-scroll a:hover {
    color: #0e3950;
}

/* ===========================
--- About
============================ */
ul.nav-tabs li.active a:link, ul.nav-tabs li.active a:visited, ul.nav-tabs li.active a:active {
    background-color: #00a388;
    color: #fff;
}

ul.nav-tabs li a:hover {
    color: #0e3950;
}

ul.nav-tabs li a {
    background-color: #0e3950;
    color: #fff;
}

.table{
    color:#000;
}

.table-1, .table-2 {
    display: block;
}
.table-bordered {
    border: 1px solid #A77A52;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border: 1px solid #A77A52;
}
/* ===========================
--- Contact
============================ */
.panel-default > .panel-heading {
    color: #fff;
    /*background-color: #0e3950;*/
    border-color: #ddd;
    background-color: #A77A52;
}
.panel-default{
    border-color: #A77A52;
    color: #000;
}
/* ===========================
--- Footer
============================ */

footer {
    text-align: center;
    padding: 50px 0 30px;
    background: url("../img/noisy-bg.png") repeat;

}

footer p {
    color: #f8f8f8;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ccc;
}

/* Media queries */

@media (max-width: 768px) {
    .col-xs-6 {
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .page-scroll a {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        font-size: 20px;
    }

}
