body
{
    margin-left: 0px;
    margin-top: 0px;
    background-color: #FFFFFF;
}
span.c19
{
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
}
span.c18
{
    text-decoration: underline;
}
td.c17
{
    background-color: #014386;
}
span.c16
{
    color: #FFFFFF;
}
table.c15
{
    margin-left: 20px;
}
table.c14
{
    font-size: 11px;
}
tr.c13
{
    background-color: cyan;
}
td.c12
{
    background-color: #018CD2;
}
table.c11
{
    background-color: #000000;
}
td.c10
{
    background-color: #6098CF;
}
span.c9
{
    color: #FFCC00;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
}
table.c8
{
    background-color: #333333;
}
table.c7
{
    background-color: #ECECEC;
}
span.c6
{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
span.c5
{
    color: #CC0000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
span.c4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
span.c3
{
    color: #000066;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    text-decoration: underline;
}
td.c2
{
    background-color: #0B72D8;
}
span.c1
{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
.text
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}


