body{
	background-color: #000033;
	background: url(image/primehorizontal.png);
	color: #003300;
	font-family: Arial, Helvetica, sans-serif;
}
#wraps{
	 background-color: #ffffcc;
	 min-width: 700px;
	 max-width: 960px;
	 padding: 0 0 20px 30px;
	 border: 1px ridge #00332b;
	 border-radius: 10px;
	 box-shadow: inset -3px -3px 3px 3px #00332b;
	 width: 80%;
         margin-right: auto;
         margin-left: auto;
}
header{
	color: #48751A;
}
h2{
	color: #003366;
}
h3{
	color: #006600;
	padding-top: 10px;
}
nav{
	font-weight: bold;
	font-size: 1.2em;
}
img{
	border: 0px;
}
dd{
	font-size: .90em;
	font-style: italic;
	line-height: 200%;
}
.contact{
	font-weight: bold;
	font-size : .90em;
	font-family: Times new Roman, serif;
}
footer{
	font-size: 0.60em;
	font-style: italic;
}