header, nav, main, footer { display: block; }

body {
    background: url('images/primehorizontal.png');
	background-color: #000033;
    color: #003300;
    font-family: Arial, Helvetica, sans-serif;
}

header { 
	background-image: url('images/primelogo.gif');
	background-repeat: no-repeat;
	height: 100px;
	color: #48751A; 
}

h1 {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

h2 { 
	background-color: transparent;
	color: #003366; 
}

h3 { 
	background-color: transparent;
	color: #006600;
	padding-top: 10px;
}

nav { 
	float: left;
	width: 150px;
	font-weight: bold;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: bold;
	color: #FFFFCC;
	border: 3px outset #CCCCCC;
	padding: 5px;
}

nav a:link { background-color: #003366; }
nav a:visited { background-color: #48751A; }
nav a:hover { border: 3px inset #333333; }

nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
}

main {
	margin-left: 180px;
	padding-right: 20px;
	padding-bottom: 20px;
}

dd {
	font-style: italic;
	font-size: .90em;
	line-height: 200%;
}

img {
	border: none;
}

.contact {
	font-weight: bold;
	font-size: .90em;
	font-family: "Times New Roman", serif;
	padding-top: 1em;
}

footer {
	clear: left;
	margin-left: 180px;
	font-style: italic;
	font-size: .60em;
}

.floatleft {
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
}

.floatright {
	float: right;
	padding-left: 2em;
	padding-right: 2em;
}

.clear { clear: left; }

#wraps {
	background-color: #FFFFCC;
	width: 80%;
	min-width: 700px;
	max-width: 960px;
	padding-bottom: 20px;
	padding-left: 30px;
	border: 1px ridge #00332B;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: inset -3px -3px 3px 3px #00332B;
}

.list_table{
	width: 80%;
	border: 1px solid #000033;
	border-collapse: collapse; 
}

.list_table td, th {
	border: 1px solid #000033;
}

.list_table td {
	text-align: center;
}

#mobile { display: none; }
#desktop { display: inline; }

label {
	float: left;
	display: block;
	text-align: right;
	font-weight: bold;
	width: 8em;
	padding-right: 10px;
}

input, textarea {
	display: block;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

#mySubmit { margin-left: 10em; }

/* For Tablet */
@media only screen and (max-width: 1024px) {

	header {
		background-image: url('images/primemobile.gif');
		background-repeat: no-repeat;
		text-shadow: 2px 2px 1px #000033;
		height: 66px;
	}

	nav {
		float: none;
		width: auto;
		margin-top: 0.5em;
	}

	nav a {
		padding: 0.2em;
		margin-left: 0.3em;
		float: left;
		width: 20%;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: #FFFFCC;
		background-image: none;
	}

	main {
		padding-top: 2.5em;
		padding-bottom: 2.5em;
		padding-left: 1em;
		padding-right: 1em;
		margin: 0;
		font-size: 90%;
		clear: both;
	}

	h1 {
		margin: 0;
		text-indent: 0;
		font-size: 3.7em;
		padding-left: 2em;
		white-space: normal;
	}	

	#wraps {
		width: 100%;
		min-width: 0;
		margin: 0;
		padding: 0;
		box-shadow: none;
		border-radius: 0;
		border-style: none;
	}

}

/* For Mobile */
@media only all and (max-width: 768px) {

	nav { width: 98%; }

	nav a {
		padding: 0.5em;
		width: 40%;
		float: left;
		min-width: 5em;
		margin-left: 0.5em;
	}

	main { padding: 0.6em; }

	footer {
		padding: 0.5em;
		margin: 0;
	}

	h1 {
		font-size: 2.4em;
		padding-top: 0.25em;
		padding-left: 1.5em;
	}

	h3 {
		padding-top: 0;
		margin: 0;
	}

	dd { line-height: 100% }

	.floatleft {
		float: none;
		padding-right: 0;
		padding-bottom: 0;
	}

	#mobile { display: inline; }
	#desktop { display: none; }

}