body{
    background-color: #efefef;
    background-image: url(img/pixel_weave.png);
    font: 300 13px/20px "lucida grande","lucida sans unicode",arial,sans-serif;
    color: #132D45;
}
#wrapper{
    max-width: 1024px;
    background-color: #313745;
    overflow: hidden;
    margin: 0 auto;
}
header{
    background-color: #1F6ED6;
    color: #ffffff;
    font-family: Georgia, serif;
    display: block;
    margin-top: -21px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
h1 {
    line-height: 200%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: right;
    padding: 5px;
    color: #ffffff;
}
h3{
    font-size: 20px;
    font-family: LatoBlack, arial, san-serif;
    line-height: 20px;
}
#left_column{
    float: left;
    width: 150px;
    padding: 0 10px 10px;
}
nav { font-weight: bold;
      padding: 5px 0 0 0;
      float:left;
}
nav ul li{
    padding: 0px 0px 10px 0px;
}
nav a { 
    text-decoration: none;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 25px;
    color: #F4F0EA;
}
nav a:hover { 
    color: #1F6ED6; 
}
nav a.active{
    color: #1F6ED6;
}
nav ul { 
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0; 
}
#right_column {
    width: 800px;
    float: right;
    padding: 10px;
    background-color: #F4F0EA;
    margin: 0 10px 10px 0;
    position: relative;
}

footer {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.services-table tr td {
    vertical-align: top;
}
.contact-form input, textarea {
    padding: 10px;
    border: 1px solid #313745;
    width: 5px;
    color: #999999;
    width: 400px;
    background-color: #F4F0EA;
    font-family: arial, times new roman, georgia;
    font-size: 14px;
}

.contact-form textarea {
    width: 400px;
    height: 150px;
    line-height: 18px;
    font-size: 14px;
    font-family: arial, times new roman, georgia;
}

.contact-form input:hover, textarea:hover {
}
.contact-form input:focus, textarea:focus{
    border: 1px solid #3394c4;
}

.contact-form .submit input {
    width: 100px; 
    height: 40px;
    background-color: #313745;
    border: 1px solid #171b27;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 8px;
}
.contact-form .submit input:hover{
    background-color: #1F6ED6;
    border: 1px solid #1F6ED6;
}
.contact-form p{
    padding: 5px 0px 5px 0px;
}
.content{
    padding: 5px;
}