@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
background-image: url(pixel_weave.png);
}
.header{
background-color: #03B699;
padding: 15px 35px;
margin: -10px -50px;
text-align:center;
color: #fff;
}
.subscribe{
display: inline-block;
}
img{
float:left;
}
h2{
position: relative;
top:50px;
left:-10px;
}
.paragraph{
padding-top:5px;
}
hr
{
margin: 10px -50px;
border: 0;
border-top: 1px solid #ccc;
}
span
{
color:red;
}
div.container
{
width: 960px;
height: 610px;
margin:35px auto;
font-family: 'Raleway', sans-serif;
}
div.main
{
/*width: 350px;*/
padding: 10px 50px 30px;
border: 1px solid #03B699;
font-family: raleway;
float:left;
background-color:#ffffff;
}
form{
padding-top:20px;
}
input[type=text],textarea
{
width: 97.7%;
height: 34px;
padding-left: 5px;
margin-bottom: 5px;
margin-top: 5px;
border: 1px solid #ccc;
color: #4f4f4f;
font-size: 16px;
border-radius: 5px;
}
textarea
{
resize:none;
height:80px;
}
label
{
color: #464646;
text-shadow: 0 1px 0 #fff;
font-size: 14px;
font-weight: bold;
}
.button
{
padding: 10px;
text-align: center;
font-size: 18px;
background: linear-gradient(#ffbc00 5%, #D4761A 100%);
border: 1px solid #e5a900;
color: #fff;
cursor: pointer;
text-shadow: 0px 1px 0px #13506D;
border-radius: 5px;
}
.button:hover
{
background: linear-gradient(#D4761A 5%, #ffbc00 100%);
}