body {
    color: black;
    font: 14px/1.6 Arial, Verdana, sans-serif;
    background-color: #E7E8D1;
}
.container{
    margin: auto;
    width: 940px;
}

a, a:link, a:active {
    color: #555;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #111;
    text-decoration: underline;
}

a img {
    border-width: 0;
}

/* Header
-----------------------------------------------
*/
#header-wrapper {
    height: 140px;
    margin: 0 auto;
    width: 940px;
}

#header-inner {
    position: relative;
    top: 25px;
}

/* Wrapper
----------------------------------------------- */
#content-wrapper {
    margin: 0 auto;
    overflow: hidden;
}

#main-wrapper {
    float: left;
    margin: 8px 0 0;
    float: left;
    width: 960px;
    word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
    overflow: hidden; /* fix for long non-text content breaking IE sidebar float */
}

#sidebar-wrapper {
    width: 100%;
    float: left;
    margin: 8px 0 0;
    word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
}

.product-list {
    margin-top: -15px;
}

/* Navigation
-----------------------------------------------
*/
#navigation {
    background: none repeat scroll 0 0 #003D5C;
    clear: both;
    display: block;
    height: 50px;
    margin-bottom: 15px;
    padding: 10px;
}

#navigation h2 {
    display: none;
}

#navigation ul {
    padding: 0;
    list-style: none;
}

#navigation li {
    float: left;
    list-style: none;
    padding: 0 30px;
}

#navigation li a {
    color: #F2D44A;
    text-decoration: none;
    font-size: 16px;
}
.nav{
    display: inline-block;
    width: 100%;
}
.total{
    float: left;
    padding-right: 8px;
    color: #F2D44A;
}
.cart{
    display: inline-block;
    float: right;
    padding-right: 10px;
}
.quantity{
    position: relative;
    top: -5px;
    left: 22px;
    font-size: 13px;
}

/* Simple Cart
----------------------------------------------- */
#add-to-cart-widget {
    float: left;
    margin: 0 0 18px;
    padding: 10px;
    width: 100%;
}

#add-to-cart-widget h2 {
    font-size: 100%;
    margin: 0 0 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px dotted #003D5C;
    padding-bottom: 5px;
}

.item_thumb {
    padding: 10px;
    display: none;
}

.item_price {
    display: block;
    width: 100px;
    height: 20px;
    position: relative;
    bottom: 7px;
    padding: 5px 10px;
    color: #003D5C;
    text-align: left;
    border: 0 none;
    font-size: 18px;
    font-weight: 600;
    top: -40px;

}

.simpleCart_items {
    font-size: 80%;
    min-height: 120px;
    padding: 10px;
    display: block;
    overflow: hidden;
}

.simpleCart_items img {
    padding: 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #D9D9D9;
    text-align: left;
    width: 250px !important;
    height: 200px !important;
}

.cartHeaders {
    display: none;
}

.itemContainer {
    float: left;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    bottom: 0;
}

.itemthumb {
    float: left;
    margin: 0;
    width: 58px;
}

.itemQuantity {
    float: left;
    width: 35px;
    margin-left: 250px;
}

.itemQuantity input {
    border: medium none;
    color: #000000;
    float: left;
    font: bold 18px Arial, sans-serif;
    height: 22px;
    padding: 5px 10px;
    text-align: center;
    width: 15px;
    background-color: transparent;
}

.itemremove a {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.itemTotal {
    color: #000000;
    float: left;
    font: bold 18px Arial, sans-serif;
    padding: 0;
    text-align: center;
    margin-left: 100px;
    margin-top: 7px;
}
#cartTotal {
    font-style: normal;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    margin: 10px 0;
}

#cartTotal .simpleCart_total {
    font-weight: normal;
}

a.simpleCart_empty {
    background-color: #003D5C;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #F4DA65;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    float: left;
    margin: 0 15px 0 0;
}

a.simpleCart_empty:hover {
   background-color: #F2D652;
    color: #003D5C;
}
a.continue_shopping {
    background-color: #003D5C;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #F4DA65;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    float: left;
    margin: 0 15px 0 10px;
}

a.continue_shopping:hover {
    background-color: #F2D652;
    color: #003D5C;
}

.cartbuttons {
    margin: 10px 0 0 0;
    float: right;
}

a.simpleCart_checkout {
    background-color: #003D5C;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #F4DA65;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    float: left;
}

a.simpleCart_checkout:hover {
    background-color: #F2D652;
    color: #003D5C;
}

.item_add img {
    margin-left: 150px;
    cursor: pointer;
}

#checkout {
    background: #D9D9D9;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 80%;
    display: block;
    text-align: center;
    -moz-border-radius: 5px; /* firefox rounded corner top left */
    border-radius: 5px; /* firefox rounded corner top left */
    -webkit-border-radius: 5px; /* Safari 3 rounded corner top left */
}

#checkout:hover {
    background: #333333;
    color: white;
}

.post {
    border: 1px solid #003D5C;
    padding: 10px;
    list-style: none;
    width: 200px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px; /* firefox rounded corner top left */
    -webkit-border-radius: 2px; /* Safari 3 rounded corner top left */
    height: 260px;
    display: inline;
    float: left;
    overflow: hidden;
    position: relative;
}

.post:hover {
    border: 1px solid #999;
}