body {
    color: black;
    font: 14px/1.6 Arial, Verdana, sans-serif;
    margin: auto;
    width: 940px;
}
#header-wrapper {
    height: 140px;
    margin: 0 auto;
    width: 940px;
}
#header {
    text-align: left;
    color: #ffffff;
    overflow: hidden;
    height: 140px;
    width: 400px;
    float: left;
}
#header a {
    text-decoration: none;
}
#header img {
    margin: 40px 0;
}
#navigation {
    background: none repeat scroll 0 0 #555555;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    clear: both;
    display: block;
    height: 22px;
    margin-bottom: 15px;
    padding: 10px;
}
#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navigation li {
    float: left;
    list-style: none;
    padding: 0 30px;
}
#navigation li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#content-wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 960px;
}
#main-wrapper {
    float: left;
    width: 715px;
    margin: 8px 0 0;
    float: left;
    word-wrap: break-word;
    overflow: hidden;
}
.post {
    border: 1px solid #D9D9D9;
    padding: 10px;
    list-style: none;
    width: 200px;
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 260px;
    display: inline;
    float: left;
    overflow: hidden;
    position: relative;
}
.item_price {
    display: block;
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 7px;
    left: 10px;
    color: #000;
    font-size: 13px;
    text-align: left;
    border: 0 none;
}
input.item_add {
    bottom: 9px;
    font-size: 11px;
    position: absolute;
    right: 15px;
    width: 90px;
}
#sidebar-wrapper {
    width: 225px;
    float: left;
    margin: 8px 0 0;
    word-wrap: break-word;
}
#add-to-cart-widget {
    border: 1px solid #d9d9d9;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 0 0 18px;
    padding: 10px;
    width: 205px;
}
#add-to-cart-widget h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 10px;
    text-align: center;
}
.simpleCart_items {
    border: 1px dashed #D9D9D9;
    font-size: 80%;
    min-height: 120px;
    padding: 10px;
    display: block;
    margin-left: 0 auto 10px;
    overflow: hidden;
}
.cartHeaders {
    display: none;
}
.itemthumb {
    float: left;
    margin: 0;
    width: 58px;
}
.itemQuantity {
    float: left;
    margin: 6px 0;
    width: 35px;
}
.itemTotal {
    color: #000000;
    float: left;
    font: bold 11px Arial,sans-serif;
    margin: 15px 0 0 10px;
    padding: 0;
    text-align: right;
    width: 55px;
}