@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
	list-style:none;
	list-style-image:none;
	margin:0;
	padding:0;
}

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	clear: none;
	float: none;
}
#div1 {
}
#header {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: aladin;
	font-size: x-large;
	font-style: normal;
	font-weight: 400;
	color: rgba(255,255,255,1.00);
	text-align: center;
	background-color: rgba(221,169,16,1.00);
}
#nav {
}
#content {
	color: rgba(170,130,12,1.00);
	padding: 5px;
	margin-top: 10px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
#footer {
	margin-top: 10px;
	font-size: small;
	text-align: center;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: rgba(221,169,16,1.00);
}
#menu {
}
.link {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	text-align: center;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(221,169,16,1.00);
	border-right-color: rgba(221,169,16,1.00);
	border-bottom-color: rgba(221,169,16,1.00);
	border-left-color: rgba(221,169,16,1.00);
	width: 100%;
	clear: both;
	margin-left: 0;
}
.zeroMargin_mobile {
	margin-left: 0;
}
.hide_mobile {
	display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

	.gridContainer {
		width: 97.5%;
		padding-left: 1.25%;
		padding-right: 1.25%;
		clear: none;
		float: none;
		margin-left: auto;
	}
	#div1 {
	}
	#header {
		border-radius: 5px;
	}
	#nav {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	#content {
	}
	#footer {
	}
	#menu {
	}
	.link {
		width: 10.2564%;
		margin-left: 2.5641%;
		clear: none;
		padding-right: 25px;
		padding-left: 25px;
		border-radius: 5px;
	}
	.hide_tablet {
		display: none;
	}
	.zeroMargin_tablet {
		margin-left: 0;
	}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

	.gridContainer {
		width: 88.5%;
		max-width: 1232px;
		padding-left: 0.75%;
		padding-right: 0.75%;
		margin: auto;
		clear: none;
		float: none;
		margin-left: auto;
	}
	#div1 {
	}
	#header {
	}
	#nav {
	}
	#content {
		padding-top: 10px;
		padding-right: 0px;
		padding-left: 0px;
		border-top-width: thin;
		border-top-style: solid;
		border-top-color: rgba(211,164,26,1.00);
	}
	#footer {
	}
	#menu {
		padding-left: 0px;
	}
	.link {
		width: 15.2542%;
		clear: none;
		margin-left: 1.6949%;
		padding-right: 10px;
		padding-left: 10px;
		border-top-width: thin;
		border-right-width: thick;
		border-bottom-width: thick;
		border-left-width: thin;
		border-top-style: solid;
		border-right-style: solid;
		border-bottom-style: double;
		border-left-style: solid;
		border-radius: 15px;
	}
	.zeroMargin_desktop {
		margin-left: 0;
	}
	.hide_desktop {
		display: none;
	}
}