div.container
{
    width: 1500px;
    margin:0 auto;
    font-family: 'Raleway', sans-serif;
}
div.main
{
    padding: 10px 50px 30px;
    border-bottom: 5px solid #03B699;
    font-family: raleway;
    background-color:#ffffff;
}
h1{
    text-align: center;
}
.header{
    background-color: #03B699;
}
.header h2{
    display: inline-block;
    padding-left: 20px;
    width: 250px;
    color: #ffffff;
}
.productsList{
    padding-top: 20px;
}
.productsList span{
    display: inline-block;
    padding-left: 20px;
    width: 250px;
}
.top{
    position: relative;
    top: -40px;
}
.button{
    /* float: right; */
    margin-top: 20px;
}