pre{
    font-family: "Source Code Pro", monospace;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: whiteSmoke;
    border: 1px solid #CCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

h2{
    font-size: 48px;
}

pre + h2{
    margin-top: 80px;
}

#container{
    max-width:850px;
    margin:0 auto;
    padding-bottom:10px;
    position: relative;
    top: 100px;
    overflow: hidden;
}

#banner-fade,
#banner-slide{
    margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
    display:block;
    padding:10px;
    background:#F0788C;
    color:#000;
    text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
    background:#000;
    color:#fff;
}

ol.bjqs-markers li a{
    padding:5px 10px;
    background:#000;
    color:#fff;
    margin:5px;
    text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
    background: #F0788C;
}

p.bjqs-caption{
    background: rgba(255,255,255,0.5);
    font-size: 20px;
}
