#header{
    height: 60px;
    background-color: #F0788C;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    text-align: center;
    border-bottom: 1px solid #ec75ad;

}
#header img{
    position: absolute;
    left: 21%;
    top:-60px;
}
#header h1{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 45px;
    vertical-align: baseline;
    font-family: "PlutoHeavy", Arial, sans-serif;
    font-weight: bold;
    color:#fff;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
}

#rip{
    background: url(../img/rip.png) 0 0 repeat-x;
    height: 22px;
    width: 100%;
    position: fixed;
    display: block;
    top: 60px;
    left: 0;
}
#rip2{
    background: url(../img/rip2.png) 0 0 repeat-x;
    height: 22px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: block;
    bottom: 80px;
    left: 0;
}
.footer{
    height: 80px;
    background-color:#332532;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
body{
    background-color: #DACAB9;
}
.bars img{
    margin: auto;
    display: block;
}

