@charset "utf-8";
/*
 Author: Nahida Sultana
 */
 
/* CSS Document */

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important;text-decoration: none;}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Primary Styles
---------------------------------*/
body {
	background:#fff;
	font-family: Lato, 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}

p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:url(../images/top-bg.jpg) left top repeat;
	padding:80px 0;
}

.header h1{
	font-family: Lato,'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
	text-shadow: rgba(0, 0, 0, 0.298039) 2px 4px 3px;
}

.header-2{
	padding:0;
	margin:35px 0 55px;
}

.header-2 li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:40px;
	color: #25364D;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.header-2 li:first-child{
	background:none;
}


.header-3{
	color:#fff !important;
	font-size:18px;
	font-weight:600;
	letter-spacing: 1px;
	display:inline-block;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	position: relative;
	top: -10px;
	text-shadow: rgba(0, 0, 0, 0.298039) 2px 1px 2px;
}

.main-section{
	padding:90px 0 110px;
}

/* About
---------------------------------*/
.about{
	font-size:14px;
	padding-left: 100px;
}
.about h2{
	text-align:left;
}
.about-list{
	padding:0 0 0 0;
	margin-bottom:25px;
	font-size:14px;
}
.about-list h3{
	margin-bottom:5px;
}
.about-list p{
	line-height:22px;
	font-size: 18px;
	color: rgb(37, 54, 77);
}
.about p.padding-b{
	padding-bottom:35px;
	padding-top:30px;
	color: rgb(148, 0, 4);
	font-size: 18px;
	font-weight: 700;
}
.about-list-col1{
	width:60px;
	float:left;
}
.about-list-col1 i{
	display:block;
	font-family: 'FontAwesome';
	font-size:25px;
	color: rgb(148, 0, 4);
	font-style:normal;
	margin-left: 25px;
}
.about-list-col2{ overflow:hidden;}

/* Contact
---------------------------------*/
.main-section.contact{
	padding:90px 0 100px;
}

.main-section.contact{
	background:url(../img/bg-map.png) left 190px no-repeat;
}
.social-link{
	margin: 0 0 0 68px;
	display: block;
	overflow: hidden;
	list-style: none;
	float: right;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display: block;
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-size: 20px;
	color: #fff;
	border:1px solid #ffffff;
	/*border-radius: 50%;*/
	transition: all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
	border:none;
}
.facebook a:hover {
	background: #3b5998;
	border:none;
}
.linkedin a:hover {
	background: #0177B5;
	border:none;
}
.gplus a:hover {
	background: #dd4b39;
	border:none;
}
button.close, button.close:hover {
	display: block;
	position: absolute;
	top: -9pt;
	right: -9pt;
	width: 20pt;
	height: 20pt;
	color: white;
	text-align: center;
	text-decoration: none;
	vertical-align: baseline;
	cursor: pointer;
	background: black;
	border: 2pt solid white;
	-webkit-border-radius: 20pt;
	-moz-border-radius: 20pt;
	border-radius: 20pt;
	text-shadow: 0 1px 0 #000;
	filter: alpha(opacity=20);
	opacity: 1;
}
.btn-primary {
	width: 100%;
}

.modal-header {
	border: none;
	margin: -14px -14px 10px;
}

.btn-container {
	padding-top: 30px;
}
.btn-popup{
	border-color: rgb(148, 0, 4);
	background: rgb(148, 0, 4);
	color: rgba(255, 255, 255, 1);
	padding: 15px;
	font-size: 24px;

	font-weight: 700;
}.btn-popup:hover{
	 color: #fff;
	 background-color: #870214;
 }

.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	background:#7cc576;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background: #111;
	color: #fff;
}

/* Footer
---------------------------------*/

.footer{
	background: #25364D url("../images/pattern.png")repeat;
	padding-bottom: 40px;
	/*padding:35px 0 35px;*/
}
.copyright{
	color:#ffffff;
	font-size:16px;
	display:block;
	text-align:center;
	margin-top: -15px;
	padding: 15px;
}


/* Animation Timers
---------------------------------*/
.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}

.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}
