.navbar li a:hover{
    color:#00a388;;
}
.navbar li.active a {
    color: #00a388; !important;
    border-bottom: 2px solid #00a388;;
}
.bgg{
    background-color:#00a388;
}
ul.social-media > li >a >i.fa {
    background-color: #00a388;
}
.is-checked {
    background-color:#00a388;
}
.tf-btn {
    background-color: #00a388;;
}
.tf-btn:hover{
    color: #00a388;;
}
.header-button{
    background-color: #00a388;;
}
.header-button:hover{
    color: #00a388;;
}
.action-button{
    color: #00a388;;
}
.action-button:hover{
    color: #00a388;;
}
.title span{
    color: #00a388;; !important;
}
.progress-bar {
    background-color: #00a388;;
}
.service .media-left i {
    background-color: #00a388;;
}
.media-body h4 span{
    background-color:#00a388;;
}
.aboutme-title h5{
    color: #00a388;;
}
.icon-block i:after {
    background-color: #00a388;;
}
.btn-pricing {
    background-color:#00a388;;
}
.btn-pricing:hover{
    color: #00a388;;
}
#tf-clients{
    background:#00a388;;
}
.form-btn {
    background-color: #00a388;;
}
.form-btn:focus{
    color: #00a388;;
}

