/*--------------------------------------------------
 Responsive design Section
---------------------------------------------------*/

@media screen and (max-width: 787px) {
#tf-page-header{
	 padding: 30% 5%;
}
.contact-left {
	text-align: left;
}
.contact-info {
	padding-left: 30px;
}
.contact-right {
	padding: 0 45px;
}

}
@media (max-width: 770px) {
.item-five { width: 50%; }
.item-three { width: 50%; }
.item-four { width: 45%; }

body{
	margin: 0px;
}

#headerBar {
	width: 100%;
	padding: 0 30px;
}
.navbar li{
	margin: 0px 3px;
	font-size: 10px;
}
.hi{
	margin-top: 30px;
	width: 100%;
}
.about-skills{
	padding-left: 0;
}
.blog-column img{
	width: 100%;
}
#map{
	width: 100%;
}
.about-image img{
	margin-bottom: 20px;
}
.footerRight ul li {
	text-align: center;
	margin:0px 0px 0px 10px;
}
.footerLeft{
	padding: 20px 0px;
}

}

@media (max-width: 480px){
#tf-page-header {
    padding: 35% 5%;
}
.item-five { width: 100%; }
.item-three { width: 100%; }
.item-four { width: 100%; }

.filters li{
	display: inherit;
}
}
@media (max-width: 1280px) {
#tf-page-header {
    padding: 35% 5%;
}
 ul.menu-lists{
	top: 7%;
}

}
@media (max-width: 992px) {
	#tf-page-header {
    padding: 35% 5%;
}
 .price{
  margin-bottom: 44px;
 }
 .price:hover{ margin-top: 0px;}
}

@media (max-width: 980px) {
.header-profile{
	margin-top: -200px;
}
.itemHover i{
	left: 25%;
	padding-bottom: 0px;
}
.itemHover h6{
	left: 25%;
}
ul.menu-lists{
	top: 10%;
}
}

/* iPads (portrait and landscape) ----------- */
@media (max-width: 768px) {
.itemHover i{
	left: 33.33%;
}
.itemHover h6{
	left: 30%;
}
.header-profile {
    margin-top: -100px;
}
.header-text h1{
	margin-top: 15px;
}
	body{ overflow-x: hidden;}
   #tf-menu,
   #bs-example-navbar-collapse-1{ text-align: center;}
   .navbar-nav,
   .navbar-right{ 
   		float: left !important;
   		text-align: center;
   		display: inline-block;
   }
   #top-header.layout-two {
	    margin-top: 100px;
	}
    .carousel-control .fa { top: 40% }
	.sidebar{ margin-top: 60px}
	.quote a.meta-date{position: relative;}

	/* Layout Two */
	ul.insta-photos li img { width: 100px; }
}

@media (max-width: 767px) {
ul.menu-lists{
	top: 12%;
}
	a.menu-toggle {
	margin: -125px 0px;
	display: inline-block;
	padding-bottom:20px;
	float: right;
	text-align: right;
	height: 100%;
	padding: 53px 40px 60px;
}
	.navbar-nav,
   	.navbar-right{ display: block }
	ul.navbar-right li {
		text-align:center;
	}
	.navbar-toggle {
	    float:right !important;
		text-align:center;
	    border: 0;
	    margin-right: 0;
	}
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus{ background: transparent;}
	.navbar-default .navbar-toggle {
	    color: #FFF;
	    width: 100%;
	    text-align: center;
	    left: 46%;
	}
	

}
@media (max-width: 603px) { 
#tf-page-header {
    padding: 45% 5%;
}
     
	#top-header.layout-two {
	    margin-top: 50px;
	}
	.carousel-control .fa { top: 35% }
    a.meta-date{ position: relative }
    .post-detail h2, 
    .post-detail h2 a {
	    left: auto;
		margin-bottom: 10px;
		margin-top: 4px;
	}
	.layout-one .blog-post a.meta-date,
	.category a.meta-date {left: 43%;}
	.post-detail{
		padding-top:0px;
		position: absolute;
 		 padding: 0px 5px;
	}
	.post-detail h4{
		font-size:10px;
	}
	.post-detail p{
		display:none;
	}

	#menuTwo .close-text {
    left: 38%;
	}
}

@media (max-width: 460px) {
	#tf-page-header{
	 padding: 50% 5%;
}
.google-map iframe{
	width:280px;
	margin-top:20px;
}
.aboutme-title h4{
	padding-top:20px;
}
#pricing{
	background-color:#fff;
}
.header-profile {
    margin-top: -50px;
}
	.header-button{
		margin-bottom:15px;
	}
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus{ background: transparent;}
	.navbar-default .navbar-toggle {left: 45%;}
	#header-slider .carousel-caption{
		display: none;
	}
	.carousel-control .fa { top: 38% }
	.youtube .metas a,
	.vimeo .metas a{ display: none;}
	.layout-one .blog-post a.meta-date,
	.category a.meta-date { left: 39%}

	.navbar-brand { 
		padding-left: 0px; 
	}
	a.navbar-brand.logo{
		margin-left: -20px;
	}

	a.menu-toggle{
		padding-right: 0px;
	}
	.old-post-btn {
    float: left;
    margin-right: 0px;
 }
 .prev-post-btn {
    margin-left: 0px;
    float: right;
 }
 .post-pagination {
    padding-bottom: 36px;
 }

 span.divider-line {
    height: 26px;
 }
}
@media (max-width: 360px) { 
    .header-profile{
     margin-top: -40px;
}
	.header-button{
		margin-bottom:15px;
	}
	.carousel-control .fa { top: 43% }
	.post-detail h2, .post-detail h2 a {
	    letter-spacing: 0;
	    font-size: 22px;
	    line-height: 24px;
	}
	.metas a { padding: 2px 15px}
	.layout-one .blog-post a.meta-date,
	.category a.meta-date { left: 38%;}
	.media.reply-comment {margin-left: 0;}
	
}
@media (max-width: 320px) {
	
	 ul.menu-lists{
	top: 15%;
} 
	.navbar-default .navbar-toggle:hover, 
	.navbar-default .navbar-toggle:focus{ background: transparent;}
	.navbar-default .navbar-toggle {left: 43%;}
	.carousel-control .fa { top: 41% }
	#top-header .logo { 
		width: 70%;
		height: auto;
	}
	.post-detail h2, 
	.post-detail h2 a { 
		font-size: 22px; 
		line-height: 20px;
	}
	.sidebar ul.social li,
	ul.social li { 
		margin: 0; 
		padding: 0;
	}
	.sidebar ul.social li a i,
	ul.social li a i{ 
		width: 40px;
		height: 40px;
		font-size: 15px;
	}
	#tf-footer blockquote, 
	.post-detail .img-wrap blockquote{ font-size: 16px;}
	.metas a { display: none;}
	a.meta-date{
		width: 60px;
		height: 60px;
		padding: 5px
	}
}