@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

.green{
    background-color:#56AD48;
}
.indigo{
    background-color:#3f51b5;
}
.hot-pink{
    background-color: #FF5EAA;
}
.orient{
    background-color:#025D8C;
}
.red{
    background-color:#FF0000;
}
.yellow{
    background-color:#FBB829;
}
.dark-cyan{
    background-color:#00a388;
}
.skyblue{
    background-color:#56beb8;
}
.victoria{
    background-color: #5572b1;
}
.pomegranate{
    background-color: #d05943;
}
.demo_changer{
    z-index: 900;
    position: fixed;
    left: -140px;
    top: 110px;
}


.line {
    border-bottom: 1px solid #efefef;
    clear: both;
    margin: 20px !important;
}


span a {    color:red; margin-top:20px; margin-bottom:20px;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    margin-left:20px;
    padding-top:40px;
    padding-bottom:20px;
    opacity:1;
}


span a:hover,
span a:active {opacity:1; color:#7F7F7F;
}


.demo_changer .demo-icon{
    background: url(../../assets/img/color.png) no-repeat scroll 4px 0 white;

    cursor: pointer;
    float: right;
    height: 40px;
    width: 40px;
}

.form_holder p {
    color:black; margin-top:20px; margin-bottom:10px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    opacity:1 !important;

}


.form_holder a:hover img {opacity:0.8; border:none;}

.demo_changer .form_holder {
    background: white;
    float: right;
    width: 140px;
    height:415px;
    line-height:1px;
}

.demo_changer .form_holder p{
    padding-left:20px;
    padding-right:10px;
}

.demo_changer .form_holder input{
    width: 55px;
    box-shadow: none;
}

.color_display_2 a{
    color: #fff;
    text-decoration: none;
    opacity:1;


}

.color_display_2 a:focus,
.color_display_2 a:hover {
    color: #ededed !important;
    text-decoration: none;
    opacity:0.8;
    border:none;
}


.predefined_styles{
    margin-left:20px;
    padding-left:0px;
    padding-right:0px;
}

.predefined_styles a div {
    margin:0px;
    padding:0;
    opacity:1;
    width:33px;
    height:33px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border:solid 0px white;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
}

.predefined_styles a {
    display:inline-block;
    padding:0;
    margin:0;
    line-height: normal !important;
    margin-right:-4px;
}

.selected {
    border:solid 6px white !important;
    border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -khtml-border-radius: 50% !important;
}

.variant {margin-left:20px; margin-bottom:1px; opacity:1;}
.other_variants {margin-top:20px;}

@media only screen and (max-width: 1024px) {
    .demo_changer{
        display: none;
    }
}


