body{
	background-color: #000033;
	background: url(primehorizontal.png);
	color: #003300;
	font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, footer{display:block;}

#wraps{
	 background-color: #ffffcc;
	 min-width: 700px;
	 max-width: 960px;
	 padding-top:0px;
	 padding-right:0px;
	 padding-bottom:20px;
	 padding-left:30px;
	 border: 1px ridge #00332b;
	 border-radius: 10px;
	 box-shadow: inset -3px -3px 3px 3px #00332b;
	 width: 80%;
         margin-right: auto;
         margin-left: auto;
}
header{
	color: #48751A;
	background-image: url(primelogo.gif);
	background-repeat: no-repeat;
        height: 100px;
}
h1{

text-indent:100%;
white-space: nowrap;
overflow: hidden;
}
h2{
	color: #003366;
}
h3{
	color: #006600;
	padding-top: 10px;
}
nav{
	font-weight: bold;
	font-size: 1.2em;
	float:left;
	width: 150px;
}

nav a{
text-decoration: none;
display: block;
text-align: center;
color: #ffffcc;
font-weight: bold;
border: 3px outset #cccccc;
padding: 5px;
}

nav a:link{background-color: #003366;}
nav a:visited{background-color: #48751a;}
nav a:hover{border: 3px inset #333333;}

nav ul{list-style-type:none;
margin:0;
padding-left:0;}

main{
margin-left:180px;
padding-right: 20px;
padding-bottom: 20px;

}
img{
	border: 0px;
}
dd{
	font-size: .90em;
	font-style: italic;
	line-height: 200%;
}

.floatleft{
float:left;
padding-right:30px;
padding-bottom: 20px;
}

.contact{
	font-weight: bold;
	font-size : .90em;
	font-family: Times new Roman, serif;
}
footer{
	font-size: 0.60em;
	font-style: italic;
	margin-left: 180px;
	
}

.clear {
	clear:left;
}

#mobile{display: none;}
#desktop{display: inline;}

@media only screen and (max-width: 1024px){

body{
	margin: 0;
	padding: 0;
	background-color: #ffffcc;
	background-image: none;
}

#wraps{
width: 100%;
min-width: 0;
margin: 0;
padding: 0;
box-shadow: none;
border-radius: 0;
border-style: none;
}
header{
background-image: url(primemobile.gif);
background-repeat: no-repeat;
height: 100%;
text-shadow: #000033;
}
h1{
text-indent:0;
margin: 0;
white-space: normal;
font-size:3.7em;
padding-left:2em;
}

nav{
width: auto;
margin-top: 0.5em;
float: none;
}
nav a{
padding: 0.2em;
margin-left:0.3em;
float: left;
width: 20%;
}

main{
margin: 0;
font-size: 90%;
float: clear;
padding-left: 1em;
padding-right: 1em;
padding-bottom: 2.5em;
padding-top: 2.5em;	
}
}
@media only all and (max-width: 768px){

h1{
font-size: 2.4em;
padding-top:0.25em;
padding-left: 1.5em;
}
nav{
width:98%;
padding-bottom:5em;
}

nav a{
padding:0.5em;
width: 40%;
float: left;
min-width: 5em;
margin-left: 0.5em;
}
main{
padding:0.6em;
}
floatleft{
float: none;
padding-bottom:0;
padding-right: 0;
}
h3{
padding-top:0;
margin:0;
}
dd{
line-height:100%;
}
footer{
padding: 0.5em;
margin: 0;
}
#mobile{display: inline;}
#desktop{display: none;}
}