/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
    background: url("../images/pattern.jpg") repeat;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}
hr {
    border-top: 1px dotted #31152B;
}
a, a:hover {
    color: #31152B;
}

/* Home Page Carousel */

.page-header {
    border-bottom: 1px dotted #31152B;
}

header.carousel {
    height: 70%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: 92% 8%;
    background-size: cover;
}
/*Navigation*/

.navbar-inverse .navbar-brand {
    color: #F6F792;
    font-size: 20px;
}

.navbar-inverse {
    background-color: #31152B;
    border-color: #31152B;
}
.navbar-inverse .navbar-nav>li>a {
    color: #F6F792;
}
/* Rip*/

#rip {
    height: 22px;
    width: 100%;
    z-index: 1;
    display: block;
    bottom: 50px;
    left: 0px;
    background: url("../images/rip.png") 0px 0px repeat-x;
}

/*Slider*/

.carousel-indicators li{

    background-color: transparent;
    border: 1px solid #F6F792;
}

.carousel-indicators .active {

    background-color: #F6F792;
}

/*panel*/
.panel-default {
    border-color: #31152B;
}
.panel-default>.panel-heading {
    color: #F6F792;
    background-color: #31152B;
    border-color: #31152B;
}

/* Button*/

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: transparent;
}

.btn-default:hover {
    color: #31152B;
    background-color: #fff;
    border-color: transparent;
    font-size: large;
}
.btn-primary{
    color: #F6F792;
    background-color: #31152B;
    border-color: #31152B;
}
.btn-primary:hover{
    color: #FFFFFF;
    background-color: #31152B;
    border-color: #31152B;
}


.fa{
    padding-right: 5px;
}
.breadcrumb {
    background-color:transparent;
}
p{
    padding-bottom: 15px;
}
.gallery .thumb {
    margin: 20px auto;
}

.gallery .error-wrapper {
    margin: 20px 0;
}

.gallery .error-wrapper .error {
    font-style: italic;
}
/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}