@import url(http://fonts.googleapis.com/css?family=Raleway);
h1{
    background-color: #03B699;
    padding: 15px 35px;
    color: #fff;
}
h2
{
    background-color: #03B699;
    padding: 15px 35px;
    margin: -10px -50px;
    text-align:center;
    color: #fff;
}
hr
{
    margin: 10px -50px;
    border: 0;
    border-top: 1px solid #ccc;
}
span
{
    color:red;
}
div.container
{
    width: 960px;
    height: 610px;
    margin:35px auto;
    font-family: 'Raleway', sans-serif;
}
div.main
{
    width: 550px;
    padding: 10px 50px 30px;
    border: 1px solid #03B699;
    font-family: raleway;
    float:left;
}
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: 2px solid #03B699;
    min-width: 1100px;
    max-width: 1100px;
}
form{
margin-top:40px;
}

input[type=text],textarea
{
    width: 97.7%;
    height: 34px;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
}
textarea
{
    resize:none;
    height:80px;
}
label
{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
}
.all-field{
    margin-top: 40px;
    color: #03B699;
}
th{
    background-color: #FDE298;
    padding: 2px;
    text-align: center;
}
td{
    padding: 2px;
    text-align: center;
}
.button
{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #e5a900;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0px 1px 0px #13506D;
    border-radius: 5px;
}
.button:hover
{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}