body{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
    font-size: 15px;}
input[type=text]{
    border: 1px solid #269abc; 
    padding: 6px 10px 6px 6px;
    background: #fff;
    margin: 0 0 10px 10px;
    color: #000;
    width: 200px;
}
h1{
    color:#269abc;
    text-shadow: 1px 1px #ddd;
    font-size: 30px;
    margin-left: 8px;
}
h3{
    color: #23527c;
}
p{
    margin-left: 8px;
}
.btn{
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    border-bottom-color:#333;
    border:1px solid #61c4ea;
    background-color:#7cceee;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color:#333;
    font-family:'Verdana',Arial,sans-serif;
    font-size:14px;
    text-shadow:#b2e2f5 0 1px 0;
    padding:6px 10px 6px 10px;
    margin-top: 8px;
    margin-left: 8px;
}
.btn:hover{
    background-color: #4ac1ef;
}
#rip {
    background: url(../img/rip.png) 0 0 repeat-x;
    height: 22px;
    width: 100%;
    position: fixed;
    display: block;
    top: 60px;
    left: 0;
}
#rip2 {
    background: url(../img/rip2.png) 0 0 repeat-x;
    height: 22px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: block;
    bottom: 50px;
    left: 0;
}