body{
    color: #fff;
    font-family: 'Roboto',sans-serif,'Helvetica Neue',Helvetica,Arial;
}
#wrapper{
    margin: 0 auto;
    width:50%;
    padding:10px;
    background-color: #34495E;
}
form{
    width:700px;
    margin: 0 auto;
}
h1{
    text-shadow: 2px 1px 2px #000000;
}
h2{
    font-weight: 100;
    font-size: 20px;
}