body{
	background-color: #000033;
	background: url(images/primehorizontal.png);
	color: #003300;
	font-family: Arial, Helvetica, sans-serif;
}

header, nav, main, footer{display:block;}

#wraps{
	 background-color: #ffffcc;
	 min-width: 700px;
	 max-width: 960px;
	 padding: 0 0 20px 30px;
	 border: 1px ridge #00332b;
	 border-radius: 10px;
	 box-shadow: inset -3px -3px 3px 3px #00332b;
	 width: 80%;
         margin-right: auto;
         margin-left: auto;
}
header{
	color: #48751A;
	background-image: url(images/primelogo.gif);
	background-repeat: no-repeat;
height: 100px;
}
h1{

text-indent:100%;
white-space: nowrap;
overflow: hidden;
}
h2{
	color: #003366;
}
h3{
	color: #006600;
	padding-top: 10px;
}
nav{
	font-weight: bold;
	font-size: 1.2em;
	float:left;
	width: 150px;
}

nav a{
text-decoration: none;
display: block;
text-align: center;
color: #ffffcc;
font-weight: bold;
border: 3px outset #cccccc;
padding: 5px;
}

nav a:link{background-color: #003366;}
nav a:visited{background-color: #48751a;}
nav a:hover{border: 3px inset #333333;}

nav ul{list-style-type:none;
margin:0;
padding-left:0;}

main{
margin-left:180px;
padding-right: 20px;
padding-bottom: 20px;

}
img{
	border: 0px;
}
dd{
	font-size: .90em;
	font-style: italic;
	line-height: 200%;
}

.floatleft{
float:left;
padding-right:30px;
padding-bottom: 20px;
}

table{
width: 80%;
    border: 1px solid #000033;
    border-collapse: collapse;
}
th, td {
    text-align: center; 
    border: 1px solid #000033;   
}

.contact{
	font-weight: bold;
	font-size : .90em;
	font-family: Times new Roman, serif;
}
/*form { background-color:#eaeaea;
	font-family: Arial, sans-serif;
    padding: 10px;
    min-width: 400px;	}*/
label { float: left;
	display:block;
	font-weight: bold;
	width: 8em;
	text-align: right; 
	padding-right: 5px;}
	
input, textarea { margin-bottom: 1em; 
                  display: block;} 
#mySubmit { margin-left: 10em; }

footer{
	font-size: 0.60em;
	font-style: italic;
	margin-left: 180px;
	
}

.clear {
	clear:left;
}