body{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
    color:#269abc;
    font-size: 20px;}
input[type=text]{
    border: 1px solid #269abc; 
    padding: 6px;
    background: #fff;
    margin: 0 0 10px 10px;
    color: #000;
}
h1{
    color:#269abc;
    text-shadow: 1px 1px #ddd;
    font-size: 30px;
}