body{
	background-color:#ffffcc;
	color: #003300;
	font-family: Arial, Helvetica, sans-serif;
}
#wraps{
	 width: 80%;
         margin-right: auto;
         margin-left: auto;
}
header{
	color: #48751A;
	background-color: #ffffcc;
}
h2{
	color: #003366;
	background-color: #ffffcc;
}
h3{
	color: #006600;
	background-color: #ffffcc;
}
nav{
	font-weight: bold;
	font-size: 1.2em;
}
dd{
	font-size: .90em;
	font-style: italic;
	line-height: 200%;
}
.contact{
	font-weight: bold;
	font-size : .90em;
	font-family: Times new Roman, serif;
}
footer{
	font-size: 0.60em;
	font-style: italic;
}