html,
body {
    height: 100%;
    background-color: #fff;
    background: url("../images/pixel_weave.png") repeat;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
hr {
    border-top: 1px dotted #31152B;
}
a, a:hover {
    color: #31152B;
}
p{
    font-size: 16px;
}

.page-header {
    border-bottom: 1px dotted #31152B;
    color: #444;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

/*Navigation*/

.navbar-inverse {
    background-color:#444444;
    border-color: #444444;
}
.contact-title{
    color: #337ab7;
    font-size: 18px;
    font-weight: bold;
}

/*panel*/
.panel{
    background-color: transparent;
}
.panel-default {
    border-color: #31152B;
}

/* Button*/

.btn-default {
    color: #fff;
    background-color: #fff;
    border-color: transparent;
}

.btn-default:hover {
    color: #31152B;
    background-color: #fff;
    border-color: transparent;
    font-size: large;
}
.btn-primary{
    color: #fff;
    background-color: #444444;
    border-color: #444444;
}
.btn-primary:hover{
    color: #FFFFFF;
    background-color: #636363;
    border-color: #636363;
}
.btn-primary:focus{
    color: #fff;
    background-color: #444444;
    border-color: #444444;
}
.form-control{
    background-color: transparent;
    border-color: #0b0b0b;
}

/* Footer Styles */

footer {
    margin: 50px 0;
    background-color: #444444;
}