body{
  background-color: #101010;
  background-image: url(pixel_weave.png);
  color:#222222;
  font-family: abril fatface,prociono, Verdana, Geneva, sans-serif;
   font-weight: normal;
   text-align: center;
   font-size:34px;
   text-shadow: 2px 2px 4px #fff;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}