body{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
    font-size: 15px;}
#wrapper{
    text-align: center;
    background-color: #004358;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 0px;
    width: 40%;
    font-size: 35px;
    margin: 0 auto;
}
#wrapper h2{
    text-align: center;
    color: #FD7400;
    font-size: 40px;
    text-shadow: 1px 1px black;
}
input[type=text]{
    border: 1px solid #269abc; 
    padding: 6px 10px 6px 6px;
    background: #fff;
    margin: 0 0 10px 10px;
    color: #000;
    width: 200px;
}
h1{
    color:#269abc;
    text-shadow: 1px 1px #ddd;
    font-size: 30px;
    margin-left: 8px;
}
h2{
    color: #23527c;
}
p{
    margin-left: 8px;
    font-size: 20px;
    color: #FD7400;
}
.btn{
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    border-bottom-color:#333;
    border:1px solid #61c4ea;
    background-color:#7cceee;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    color:#333;
    font-family:'Verdana',Arial,sans-serif;
    font-size:14px;
    text-shadow:#b2e2f5 0 1px 0;
    padding:6px 10px 6px 10px;
    margin-top: 8px;
    margin-left: 8px;
}
.btn:hover{
    background-color: #4ac1ef;
}