body { background-color:#f0f0f0;
       background-image: url(pixel_weave.png);
       color: #131629;
       font-family: serif, Verdana, Arial, sans-serif;
}
#wrapper { width: 80%;
           min-width: 700px;
           max-width: 1024px;
           background-color:#313745;
           background-image: url(black_pattern.png);
           margin-right: auto;
           margin-left: auto;
           box-shadow: 3px 3px 3px #666666;

}
header { background-color: #d73117;
         color: #ffffff;
         font-family: Georgia, serif;
background-image: url(orange_pattern.png);
         text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
h1 { line-height: 200%;
     text-align: center;
     background-repeat: no-repeat;
     background-position: right;
     padding: 5px;
     color:#ffffff;
}
nav#button{
padding: 20px 0px 0 0px;
width:170px;
font-family: serif, Verdana, Georgia,'PT Sans Narrow', sans-serif;
float:left;
color:#ffffff;
margin-left:-5px;
}
nav#button ul{
list-style-type:none; /*remove the bullet point from the list items*/
text-align:center;
margin-top:-20px;
padding-left: 0;}

nav#button li{
padding:6px 0 6px 10px;
font-size:1em;
margin: auto;}

nav#button a{
color:#fff;
text-decoration:none;
padding:10px 12px 10px 10px;
text-transform:uppercase;
text-shadow: 0px 1px 0px #414141;
/*give the button a gradient background*/
background:#d76756; /*for browsers that don't support gradients*/
background: -moz-linear-gradient(top, #d76756, #a41600);
background: -webkit-linear-gradient(top, #d76756, #a41600);
background: -o-linear-gradient(top, #d76756, #a41600);
background: -ms-linear-gradient(top, #d76756, #a41600);
background: linear-gradient(top #d76756, #a41600);
-pie-background: linear-gradient(#d76756, #a41600); /*IE8 and earlier see CSS3Pie website for more info*/
/*apply a small curve to the button corners*/
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
/*add a drop shadow to the button*/
-webkit-box-shadow: rgba(54,59,64, .75) 0 0 4px;
-moz-box-shadow: rgba(54,59,64, .75) 0 0 4px;
box-shadow: rgba(54,59,64, .75) 0 0 4px;}

nav#button a:hover, nav#button a:focus{
color:#eaeacd;
background:#d73117;
-pie-background:#d73117;
text-shadow:none;
-webkit-box-shadow: rgba(54,59,64, .75) 0 0 2px;
-moz-box-shadow: rgba(54,59,64, .75) 0 0 2px;
box-shadow: rgba(54,59,64, .75) 0 0 2px;
}

nav#button a{
behavior: url(pie/PIE.php);}

h2 { 
   font-family: Georgia, serif;
   text-shadow: 1px 1px #fff;
}
dt {
    font-weight: bold; 
}

footer { font-size: 0.70em;
         text-align: center;
         font-style: italic;
         padding: 10px;
         margin-left: 170px;
         background-color: #313745;
         background-image: url(black_pattern.png);
         color: #fff;
}
h3 { color: #313745; 
}
h4{
    text-align: center;
    margin-left:15px;
    font-size: 18px;
	font-weight:normal;
}
main { padding-left: 20px;
       padding-right: 20px;
       background-color: #ededed;
       background-image: url(white_plaster.png);
       margin-left: 170px;
       padding-top: 1px;
       padding-bottom: 1px;
       color: #131629;
       font-family: Serif, Verdana, Georgia,'Times New Roman', Open Sans, Helvetica, Arial, Lucida, sans-serif;
       text-shadow: 1px 1px #e8e8e8;
       border: 1px solid #fff;

}
main img { float: left;
           padding-right: 20px;
           padding-bottom: 20px;
}
.enroll{
float: right;
font-size: 1.2em;
margin:10px 0px 0px 30px;
width: 500px;}
.enrollment{
margin-top: -120px;
font-size: 1.2em;
}
.clear { clear: both;
}
header, nav, main, footer { display: block; }